@model IList<FastFood.Web.ViewModels.Items.ItemsAllViewModels>

@{
    ViewData["Title"] = "All Items";
}

@if (Model.Count > 0)
{
    <h1 class="text-center"><a asp-area="" asp-controller="Items" asp-action="Create">Create Item</a></h1>
    <hr class="hr-2" />
    <h1 class="text-center">All Items</h1>
    <hr class="hr-2" />
    <table class="table mx-auto">
        <thead>
            <tr class="row">
                <th class="col-md-1">#</th>
                <th class="col-md-2">Name</th>
                <th class="col-md-2">Price</th>
                <th class="col-md-2">Category</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count(); i++)
            {
                <tr class="row">
                    <th class="col-md-1">@(i + 1)</th>
                    <td class="col-md-2">@Model[i].Name</td>
                    <td class="col-md-2">@Model[i].Price</td>
                    <td class="col-md-2">@Model[i].Category</td>
                    <td class="col-md-2"><a asp-area="" asp-controller="Items" asp-action="Delete" method="post" asp-route-id="@Model[i].Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{

    <hr class="hr-2" />
    <h4 class="text-center">There are no items registered at the moment</h4>
    <hr class="hr-2" />
    <h1 class="text-center"><a asp-area="" asp-controller="Items" asp-action="Create">Create Item</a></h1>

}
